 <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <div class="container">
    <h2>Book List</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Book ID</th>
          <th>Book Name</th>
          <th>Author</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
   
    
        <tr>
            <form  action="/update/{{results._id}}" method="post">
          <td>{{ results._id }}</td>
          <td><input type="text" name="product_name" value="{{ results.product_name }}"></td>
          <td><input type="text" name="product_author" value="{{ results.product_author}}"></td>
          <td><input type="text" name="product_price" value="{{ results.product_price}}"></td>
          <td>
           
           <input type="submit" value="update">
           
          </td>
          </form>
        </tr>
   
      </tbody>
    </table>
  </div>